<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=300, initial-scale=1">
  <title>Test Page: Don't Panic</title>
  <link rel="icon" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans|Raleway:100" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
